<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    {% if request.user.is_authenticated %}
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Django Assignment</a>
     
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
       
       
         <a class="nav-link active" aria-current="page" href='{% url "dashboard" %}'>Dashboard</a>
         <a class="nav-link" href="{% url 'logout' %}" tabindex="-1" aria-disabled="true">Logout</a>
         {% else %}
          <a class="nav-link" href="{% url 'signup'%}" >Signup</a>
        <a class="nav-link" href="{% url 'login' %}" >Login</a>
       
       
      </div>
    </div>
    {% endif %}
  </div>
</nav>
<div class="container">
  {% block messages%}{% endblock messages %}
</div>
<div class='container'>
  {% block content %}{% endblock content %}

</div>


</body>
</html>
