{% extends 'core/base.html'%}
{% load static %}
{% block content %}
        <form method="post" action="/" class="form-control ">
         {% csrf_token %}
        <label for="name"> Name</label><br>
        <input type="text" name="name" id='name' placeholder="Enter your name"><br><br>
        <label for="email">Email</label><br><br>
        <input type="text" name="email" id='email' placeholder="Enter your email"><br><br>
        <label for="Address"> Address</label><br><br>
        <input type="text" name='address' id='address' placeholder="Enter your address line1"><br>
        <label for="city"> city</label><br><br>
        <input type="text" name="city" id='city' placeholder="Enter your city"><br><br>
        <label for="state"> State</label><br><br>
        <input type="text" name="state" id='state' placeholder="Enter your state"><br><br>
        <label for="pin"> Pin</label><br><br>
        <input type="text" name="pin" id='pin' placeholder="Enter your pin"><br><br>
        <label for="country"> Country</label><br><br>
        <input type="text" name="country" id='country' placeholder="Enter your country"><br>
        <br>
        <button type="submit" value="submit" class="btn btn-primary" > Submit</button>
        </form>
       
{% endblock content %}